/*****************************************************************************/


/*
/* Common
/*
/*****************************************************************************/


/* Global Reset */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400);

p {
  margin: 0;
  padding: 0;
}
html, body {
  /*height: 100%;*/
}

body {
    background-color: #f8f8f8;
    font: 18px Helvetica, Arial, sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    box-orient: horizontal;
    -webkit-box-orient: horizontal;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 300;
}
h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 .3em 0;
}
p {
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.5em;
    font-family: aller-light, helvetica;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    -webkit-font-smoothing: auto;
}
a {
    color: #7171a9;
    text-decoration: none;
}
a:hover {
    color: #000;
}
a:visited {
    color: #8a8abb;
    text-decoration: none;
}

/*****************************************************************************/


/*
  /* Home
  /*
  /*****************************************************************************/

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.5em;
  margin-bottom: 2.5em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
}

/*****************************************************************************/


/*
  /* Site
  /*
  /*****************************************************************************/

:root.dark {
  --nav-background: #3f4c5d;
  --main-background: #efefef;
  --avatar-border: #313e4e;
}

:root.blue {
  --nav-background: #2a60a9;
  --main-background: aliceblue;
  --avatar-border: #1f5296;
}

:root.pink {
  --nav-background: #c53a8d;
  --main-background: #f5e3ed;
  --avatar-border: #981c66;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  width: 100vw;
}

.nav {
  background: var(--nav-background);
  width: 330px;
  -webkit-box-flex:  0;
  box-flex:  0;
  min-width: 330px;
  text-align: center;
}


.main {
  background: var(--main-background);
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  padding-bottom: 100px;
}

.nav img {
  width: 90px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 300px auto 20px auto;
  border: 2px solid var(--avatar-border);
}

.nav .sub-header {
  margin-left:20px;
  clear: right;
  margin: 0 auto;
}

.nav h1.title {
    display: inline-block;
    font-weight: lighter;
}
.nav h1.title a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.nav .extra {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 1em;
  font-size: 14px;
}

.site .meta {
    color: #aaa;
}
.site .footer {
    font-size: .8em;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}
.site .footer .contact {
    float: left;
    margin-right: 3em;
}
.site .footer .contact a {
    color: #8085C1;
}


#home ul, #home li  {
  padding-left: 0;
  margin-left: 0;
}

#home ul a {
  color: #929292;
  text-decoration: none;
}

#home ul a:hover {
  text-decoration: underline;
}

#home .date {
  float:right;
  font-family: "Roboto Slab",serif;
}

.nav .social  {
  margin: 1em 0;
}

.nav .social svg {
  width: 22px;
  height: 22px;
  display: inline;
  padding-left: 1em;
  cursor: pointer;
}

.social path {
  fill: rgba(255, 255, 255, 0.6);
}

.social svg:hover path {
  fill: rgba(255, 255, 255, 0.8);
}



@media (max-width: 1100px) {
  .container {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }

  .nav {
    width: 100%;
    height: 200px;
    position: relative;
  }

  .nav img {
    position: absolute;
    top: 60px;
    left: 20px;
    margin: 0;
  }

  .nav .sub-header {
    position: absolute;
    right: 40px;
    text-align: right;
    top: 40px;
  }
}

/*****************************************************************************/


/*
  /* Posts
  /*
  /*****************************************************************************/

.post {
    color: #666;
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    background-color: white;
    padding: 2em;
    max-width: 600px;
    margin: 60px auto 0 auto;
    overflow-x: hidden;
}

h2, h3, h4, h5 {
  margin: 1em 0 1em;
  font-weight: normal;
  color: rgb(150, 160, 171);
  display: block;
  font-family: roboto-black, helvetica;
  font-size: 19px;
  line-height: 19px;
  border-left: 3px solid #f1987c;
  padding-left: 9px;
@import url(
  https: //fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400);
@import url(
  https: //fonts.googleapis.com/css?family=Raleway:400,700|Roboto+Slab:300,400);
  font-family: "Roboto Slab",serif;
}


h2 {
  border: none;
  padding: 0px;
  margin-top: 0px;
  font-family: "Roboto Slab",serif;
  text-align: center;
}

#home h2 {
  font-size: 34px;
  font-weight: lighter;
}

b {
  font-weight: normal;
  color: rgba(101, 112, 123, 0.8);
}

.post h4, .post h3 {
    /* color: #8949C3; */
}
.post h5 {
    color: #444;
}

.post img {
  width: 400px;
  display: block;
  margin: 1em auto;
}

/* standard */

.post pre {
    padding: 0 .4em;
}
.post ul, .post ol {
    width: 600px;
    padding-left: 1em;
    margin: -.5em 0 1em .5em;
}

.post li {
    font-size: 1em;
    margin-left: .5em;
    margin-top: 1em;
}

.post li > code {
    font-size: .7em;
}

p > code, li > code {
    padding: 0 .2em;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(248, 248, 248);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(234, 234, 234);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(234, 234, 234);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(234, 234, 234);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(234, 234, 234);
    border-top-style: solid;
    border-top-width: 1px;
    color: #5888B7;
    display: inline-block;
    font-family: Menlo, Consolas, Monaco, monospace;
    height: 20px;
    line-height: 20px;
    font-size: .7em;
    /* font-weight: bold; */
}
.post pre code {
    border: none;
}

/* terminal */

.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}
.post pre.terminal code {
    background-color: #333;
}
.post .highlight {
    width: 900px;
    overflow-x: scroll;
    margin: 2em 0;
    /* border-left: 4px solid rgba(255, 220, 128, 0.53); */
    padding-left: 10px;
    outline-width: 0px;
    stroke-width: 1px;
    width: 640px;
    background-color: rgb(252, 252, 252);
    border: 4px solid #ccc;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(252, 252, 252);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(234, 234, 234);
    border-bottom-style: solid;
    border-bottom-width: 1.33333337306976px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(234, 234, 234);
    border-left-style: solid;
    border-left-width: 1.33333337306976px;
    border-right-color: rgb(234, 234, 234);
    border-right-style: solid;
    border-right-width: 1.33333337306976px;
    border-top-color: rgb(234, 234, 234);
    border-top-style: solid;
    border-top-width: 1.33333337306976px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 10px 0px inset;
    color: rgb(85, 85, 85);
    display: inline-block;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 12px;
    font-weight: normal;
    /* height: 40px; */
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: auto;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    white-space: pre-wrap;
    width: 558px;
    word-wrap: break-word;
    margin: 0 !important;
}
